@using Membership.Providers;
@using MVCDemo.Models;
@model MVCDemo.Models.Person

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

@{
    var firstName = Model.BasicInfo == null || string.IsNullOrEmpty(Model.BasicInfo.FirstName) ? string.Empty : Model.BasicInfo.FirstName;
    var lastName = Model.BasicInfo == null || string.IsNullOrEmpty(Model.BasicInfo.LastName) ? string.Empty : Model.BasicInfo.LastName;
    var birthday = Model.BasicInfo == null || string.IsNullOrEmpty(Model.BasicInfo.Birthday.ToString()) ? string.Empty : Model.BasicInfo.Birthday.ToString();
    var email = Model.ContactInfo== null || string.IsNullOrEmpty(Model.ContactInfo.Email) ? string.Empty : Model.ContactInfo.Email;
    var fax = Model.ContactInfo == null || string.IsNullOrEmpty(Model.ContactInfo.Fax) ? string.Empty : Model.ContactInfo.Fax;
    var website = Model.ContactInfo == null || string.IsNullOrEmpty(Model.ContactInfo.Website) ? string.Empty : Model.ContactInfo.Website;
    var lastDegree = Model.ProfessionalInfo == null || string.IsNullOrEmpty(Model.ProfessionalInfo.LastDegreeEarned) ? string.Empty : Model.ProfessionalInfo.LastDegreeEarned;
    var yearsOfExperience = Model.ProfessionalInfo == null || string.IsNullOrEmpty(Model.ProfessionalInfo.YearsOfExperience.ToString()) ? string.Empty : Model.ProfessionalInfo.YearsOfExperience.ToString();
    var currentSalary = Model.ProfessionalInfo == null || string.IsNullOrEmpty(Model.ProfessionalInfo.CurrentSalary.ToString()) ? string.Empty : Model.ProfessionalInfo.CurrentSalary.ToString();
    var currentJobTitle = Model.ProfessionalInfo == null || string.IsNullOrEmpty(Model.ProfessionalInfo.CurrentJobTitle) ? string.Empty : Model.ProfessionalInfo.CurrentJobTitle;
}

    <form action="/People/SaveUserInformation" method="post" enctype="multipart/form-data">
        <div class="register container">
            <div class="row">
                <div class="bsc-info col-lg-4">
                    <h2>Basic info</h2>
                    <hr>
                    <div class="container">
                        <div class="row">
                            <label class="col-lg-4">Title: </label>
                            <select class="col-lg-8 form-control" id="selectBox" onchange="myChanges(value);" name="title">
                                <option value="None">-None-</option>
                                <option value="Mr">Mr.</option>
                                <option value="Mrs">Mrs.</option>
                                <option value="Ms">Ms.</option>
                            </select>
                        </div>

                        <div class="row">
                            <label class="col-lg-4">First name: </label>
                            <input class="col-lg-8 form-control" type="text" name="firstName" value="@firstName"/>
                        </div>

                        <div class="row">
                            <label class="col-lg-4">Last name: </label>
                            <input class="col-lg-8 form-control" type="text" name="lastName" value="@lastName"/><br>
                        </div>

                        <div class="row">
                            <label class="col-lg-4">Birthday: </label>
                            <input class="col-lg-8 form-control" type="date" name="birthday"/>
                        </div>
                    </div>
                </div>

                <div class="contact-inf col-lg-4">
                    <h2>Contact info</h2>
                    <hr>

                    <div class="container">
                        <div class="row">
                            <label class="col-lg-4">Email: </label>
                            <input class="col-lg-8 form-control" type="email" name="emailAddress" value="@email" />
                        </div>
                        <div class="row">
                            <label class="col-lg-4">Fax: </label>
                            <input class="col-lg-8 form-control" type="text" name="fax" value="@fax" />
                        </div>
                        <div class="row">
                            <label class="col-lg-4">Website: </label>
                            <input class="col-lg-8 form-control" type="text" name="website" value="@website" />
                        </div>
                        <div class="row" id="phone-row1">
                            <label class="col-lg-4">Phone: </label>
                            <input class="col-lg-8 form-control" type="text" name="phone1" onkeyup="showAddNumbers()" />
                        </div>
                        <div class="row" id="add-more-numbers">
                            <button id="add-more-button" class="btn btn-primary col-lg-4">Add more</button>
                        </div>
                        <div class="alert alert-danger row">
                            <p>Don't you think 3 phone numbers are enough ?</p>
                        </div>
                    </div>
                </div>
                <div class="address col-lg-4">
                    <h2>Address</h2>
                    <hr>

                    <div class="container">
                        <div class="row">
                            <label class="col-lg-4">Country: </label>
                            <input class="col-lg-8 form-control" type="text" name="country" />
                        </div>
                        <div class="row">
                            <label class="col-lg-4">County: </label>
                            <input class="col-lg-8 form-control" type="text" name="county" />
                        </div>
                        <div class="row">
                            <label class="col-lg-4">City: </label>
                            <input class="col-lg-8 form-control" type="text" name="city" />
                        </div>
                        <div class="row">
                            <label class="col-lg-4">Street: </label>
                            <input class="col-lg-8 form-control" type="text" name="street" />
                        </div>
                        <div class="row">
                            <label class="col-lg-4">Number: </label>
                            <input class="col-lg-8 form-control" type="text" name="number" />
                        </div>
                        <div class="row">
                            <label class="col-lg-6">I'm living in a flat </label>
                            <input class="col-lg-1" type="checkbox" id="if-checked" name="isFlat" />
                        </div>
                        <div class="row flat">
                            <label class="col-lg-4">Entrance: </label>
                            <input class="col-lg-8 form-control" type="text" name="entrance" />
                        </div>
                        <div class="row flat">
                            <label class="col-lg-4">Flat no: </label>
                            <input class="col-lg-8 form-control" type="text" name="flatNumber" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <h2>Professional Info</h2>
                <hr>
                <div class="prof-info col-lg-6">
                    <div class="container">
                        <div class="row">
                            <label class="col-lg-5">Last degree earned: </label>
                            <input class="col-lg-7 form-control" type="text" name="degree" value="@lastDegree" />
                        </div>
                        <div class="row">
                            <label class="col-lg-5">Years of experience: </label>
                            <input class="col-lg-7 form-control" type="number" name="yearsOfExperience" value="@yearsOfExperience" />
                        </div>
                        <div class="row">
                            <label class="col-lg-5">Expected salary: </label>
                            <input class="col-lg-7 form-control" type="text" id="amount" readonly name="expectedSalary" />
                        </div>
                        <div class="row">
                            <div id="slider-range"></div>
                        </div>
                        <div class="row">
                            <label class="col-lg-5">Current salary: </label>
                            <input class="col-lg-7 form-control" type="number" name="currentSalary" value="@currentSalary" />
                        </div>
                        <div class="row">
                            <label class="col-lg-5">Current job title: </label>
                            <input class="col-lg-7 form-control" type="text" name="jobTitle" value="@currentJobTitle" />
                        </div>
                        <div class="row">
                            <label class="col-lg-2">Skills:</label>
                            <button id="add-skill-button" class="col-lg-2 btn btn-primary">Add</button>
                            <input class="col-lg-offset-1 col-lg-7 form-control" type="text" id="add-skill" list="suggestions">
                            <datalist id="suggestions"> </datalist>
                        </div>
                    </div>
                </div>
                <div class="skills col-lg-6">
                    <div class="container">
                        <div class="row">
                            <h3>Skills</h3>
                            <hr>
                            <div id="skill-container">

                            </div>
                        </div>
                        <input name="skills" id="skills" class=""/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="others col-lg-5">
                    <h2>Others</h2>
                    <hr>
                    <div class="register-table">
                        <div class="table-row">
                            <label>Upload CV: </label>
                            <input type="file" name="uploadedCV">
                        </div>
                    </div>
                </div>
            </div>
                

        <input type="submit" value="Save" />
    </form>
<!--}-->
<script>
    function myChanges($i)
    {
        if ($i != "None")
        {
            for (var i = 0; i < $(".bsc-info option").length; i++)
            {
                if ($($(".bsc-info option")[i]).val() == "None")
                {
                    $($(".bsc-info option")[i]).hide();
                    break;
                }
            }
        }
    }
</script>

<!--Slider-->
<script>
  $(function() {
    $( "#slider-range" ).slider({
      range: true,
      min: 0, //value to be taken -> not hardcoded
      max: 3000,//value to be taken -> not hardcoded
      values: [0, 3000], //min and max
      slide: function( event, ui ) {
        $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
      }
    });
    $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
      " - $" + $( "#slider-range" ).slider( "values", 1 ) );
  });
</script>

<script>
    $(function () {
        var isOpen = false;
        $(".flat").hide();
        //flat toggle
        $("#if-checked").click(function () {
            if (!isOpen) {
                $(".flat").show();
                isOpen = !isOpen;
            }
            else {
                $(".flat").hide();
                isOpen = !isOpen;
            }
        });
    });
</script>

<!--add more numbers functionality-->
<script>
    var numbersShown = 1;
    function showAddNumbers() {
        var addNumbersContainer = $("#add-more-numbers");
        addNumbersContainer.show();
    }

    $("document").ready(function () {
        var addButton = $("#add-more-button");
        addButton.on("click", function (event) {
            event.preventDefault();
            if (!event.clientX && !event.clientY) return;
            console.log(event);
            if (numbersShown < 3) {
                var id = numbersShown + 1;
                var original = $("#phone-row1");
                var row = original.clone();
                var label = row.find("label");
                var input = row.find("input");

                row.attr("id", "#phone-row" + id);
                label.html("Phone " + id);
                input.attr("name", "phone" + id)

                var rowHtml = row.html();
                rowHtml = "<div class='row' id='phone-row" + id + "' >" + rowHtml + "</div>";

                $(rowHtml).insertBefore("#add-more-numbers");
                numbersShown++;
            }
            else {
                var addNumbersContainer = $("#add-more-numbers");
                addNumbersContainer.remove();
                $(".register .contact-inf .alert-danger").show();
            }
        });
    });
</script>
<!-- skill behaviour -->
<script>
    //to be moved
    if (!Array.prototype.remove) {
        Array.prototype.remove = function (item) {
            var i = this.indexOf(item);
            if (i == -1) return;
            this.splice(i, 1);
        };
    }
    var root = '@HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)@Url.Content("~/")';
    var skills;
    var addedSkills = [];
    function addSkillToView(skill) {
        if (!skill) return;
        var skillHtml = '<div class="skill"><span onclick="removeSkill(' + "'"+ skill + "')" + '" class="skill-skill">' + skill + '</span><span class="kill-skill">x</span></div>';
        var skillContainer = $("#skill-container");
        skillContainer.append(skillHtml);
    };

    function removeSkill(skill) {
        addedSkills.remove(skill);
        setSkillsToInput();
        redrawSkills();
    }
    function redrawSkills() {
        var skillsHtml = "";
        for (var skill of addedSkills) {
            skillsHtml += '<div class="skill"><span onclick="removeSkill(' + "'" + skill + "')" + '" class="skill-skill">' + skill + '</span><span class="kill-skill">x</span></div>';
        }
        var skillContainer = $("#skill-container");
        skillContainer.html(skillsHtml);
    }
    function setSkillsToInput() {
        $("#skills").val(addedSkills.toString());
    }
    function addSkill(event) {
        event.preventDefault();
        if (event.keyCode != 13) return;
        var skill = $("#add-skill").val();
        if (!addedSkills.includes(skill)) {
            if (!skill) return;
            addedSkills.push(skill);
            addSkillToView(skill);
            setSkillsToInput();
            $("#add-skill").val("");
        }
    }
    //get skills
    $.get(root+"api/skills", function (data) {
        skills = JSON.parse(data);
        var dataList = $("#suggestions");
        var items = "";
        for (var skill in skills) {
            items += '<option value="' + skills[skill] + '" >';
        }
        dataList.html(items);
    });

    var addSkillButton = $("#add-skill-button");
    addSkillButton.on("click", addSkill);
    var addSkillInput = $("#add-skill");
    addSkillInput.on("keyup", addSkill);
</script>