@model MVCDemo.Models.Person
@{
    Layout = "~/Views/_Layout.cshtml";
}

@if (Model == null)
{
    <p>No person found.</p>
}
else
{
    <div class="person">
        <div class="people-container">
            <div class="row">
                <div class="bsc-info col-lg-4">
                    <h2>Basic Info</h2>
                    <hr>
                    <div class="people-table">
                        <div class="table-row">
                            <label>Title: </label>

                            @{
                                var title = Model.BasicInfo.Title != null ? Model.BasicInfo.Title : MVCDemo.Models.Title.Mr;
                            }
                            @if ((int)title == 0)
                            {
                                <label class="label-inf">Ms</label>
                            }
                            else if ((int)title == 1)
                            {
                                <label class="label-inf">Mrs</label>
                            }
                            else if ((int)title == 2)
                            {
                                <label class="label-inf">Mr</label>
                            }

                        </div>
                        <div class="table-row">
                            <label>First Name: </label>
                            <label class="label-inf">@Model.BasicInfo.FirstName</label>
                        </div>
                        <div class="table-row">
                            <label>Last Name: </label>
                            <label class="label-inf">@Model.BasicInfo.LastName</label>
                        </div>
                        <div class="table-row">
                            <label>Birthday: </label>
                            <label class="label-inf">@Model.BasicInfo.Birthday.ToShortDateString()</label>
                        </div>
                    </div>
                </div>
                <div class="contact-inf col-lg-4">
                    <h2>Contact Information</h2>
                    <hr>
                    <div class="people-table">
                        <div class="table-row">
                            <label>Email: </label>
                            <label class="label-inf">@Model.ContactInfo.Email</label>
                        </div>
                        <div class="table-row">
                            <label>Phone Numbers: </label>
                            <label class="label-inf">@Model.ContactInfo.PhoneNumbers</label>
                        </div>
                        <div class="table-row">
                            <label>Fax: </label>
                            <label class="label-inf">@Model.ContactInfo.Fax</label>
                        </div>
                        <div class="table-row">
                            <label>Website: </label>
                            <label class="label-inf">@Model.ContactInfo.Website</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="address col-lg-4">
                    <h2>Address Information</h2>
                    <hr>
                    <div class="people-table">
                        <div class="table-row">
                            @if (Model.ContactInfo != null && Model.ContactInfo.Addresses != null)
                            {
                                foreach (var address in Model.ContactInfo.Addresses)
                                {

                                    <label>Country: </label>
                                    <label class="label-inf">@address.City</label>
                                    <label class="label-inf">@address.Country</label>

                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="prof-info col-lg-8">
                    <h2>Professional Details</h2>
                    <hr>
                    <div class="people-table">
                        <div class="table-row">
                            <label>Experience In Years: </label>
                            <label class="label-inf">@Model.ProfessionalInfo.YearsOfExperience</label>
                        </div>
                        <div class="table-row">
                            <label>Current job Title: </label>
                            <label class="label-inf">@Model.ProfessionalInfo.CurrentJobTitle</label>
                        </div>
                        <div class="table-row">
                            <label>Expected Salary: </label>
                            <label class="label-inf">@Model.ProfessionalInfo.ExpectedSalary.Min-@Model.ProfessionalInfo.ExpectedSalary.Max</label>
                        </div>
                        <div class="table-row">
                            <label>Skill Set: </label>
                            <label class="label-inf">@Model.ProfessionalInfo.Skills</label>
                        </div>
                        <div class="table-row">
                            <label>Highest Qualificaton Held: </label>
                            <label class="label-inf">@Model.ProfessionalInfo.LastDegreeEarned</label>
                        </div>
                        <div class="table-row">
                            <label>Current Salary: </label>
                            <label class="label-inf">@Model.ProfessionalInfo.CurrentSalary</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

              
   








                                }